{% extends 'base.html.twig' %}
 
{% block title %}Mot de passe oublié{% endblock %}
 
{% block body %}
    <div class="container">

        <h1 class="text-center mb-5">Mot de passe oublié</h1>

        <div class="col-12 mt-4 text-center">
        <img id="forgot_img" src="{{ asset('img/password/password.png') }}" class="col-12" alt="Logo Mot de passe oublié" title="Logo Mot de passe oublié">
        </div>

        <h6 class="text-center mt-5">Vous avez oublié votre mot de passe, ce n'est pas grave !</h6>
        <h6 class="text-center mb-5">Indiquez-nous votre adresse mail et nous vous enverrons un mail afin de le réinitialiser</h6>

        {{ form_start(emailForm,{attr: {novalidate: 'novalidate'}}) }}

            <div class="row">
            <div class="col-12">
                {{ form_label(emailForm.cliEmail, 'Votre e-mail :') }}
            </div>
            <div class="col-12">
                {{ form_widget(emailForm.cliEmail) }}
                {{ form_help(emailForm.cliEmail) }}
                <span id="alertforgot"></span>
            </div>
        </div>

        <button type="submit" id="bouton_envoi3" class="btn btn-primary">ENVOYER</button>

        {{ form_end(emailForm) }}

    </div>
{% endblock %}