{% extends 'base.html.twig' %}
{% block title %}Mon Panier{% endblock %}
{% block body %}
    <div class="container">
        <h1>Mon Panier</h1>
        <p>Retrouver l'ensemble des produits que vous avez ajoutés à votre panier</p>
        <hr>
        {% if cart|length >0 %} <!-- Si le panier n'est pas vide, on affiche les produits -->
            <div class="table-responsive-md">
                <table class="table table-hover text-center">
                    <thead>
                    <tr class="table-active">
                        <th scope="col">ID</th>
                        <th scope="col">Produit</th>
                        <th scope="col">Libellé</th>
                        <th scope="col">Quantité</th>
                        <th scope="col">Prix</th>
                        <th scope="col">Total</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% set total= null %} <!-- Je déclare une nouvelle variable pour le calcul du total et elle sera égales à nulle -->
                    {% set ligne= 1 %}
                    {% for produit in cart %} <!-- produit est appelé dans la public function getFull() dans Cart.php -->
                        <tr>
                            <th scope="row">{{ ligne }}</th>
                            <th><img style="height: 200px;" src="{{ asset('img/PRODUITS/')}}{{ produit.produit.proPhoto }}" alt="{{ produit.produit.proLib }}"></th>
                            <td>{{ produit.produit.proLib }} </td>
                            <td>
                                <a href="{{ path('reduir_to_cart', {'id': produit.produit.proId}) }}">
                                    <img src="{{ asset('img/ICONS/minus-line.png') }}" height="12px" alt="Retirer un produit">
                                </a>
                                x {{ produit.quantite }}
                                <a href="{{ path('add_to_cart', {'id': produit.produit.proId}) }}">
                                    <img src="{{ asset('img/ICONS/plus.png') }}" height="12px" alt="Ajouter un produit">
                                </a>
                            </td>
                            <td>{{ produit.produit.proPrixAchat }}€</td>
                            <td>{{ (produit.produit.proPrixAchat * produit.quantite)|number_format(2)}}€</td>
                            <td>
                                <a href="{{ path('delete_to_cart', {'id': produit.produit.proId}) }}">
                                    <img src="{{ asset('img/ICONS/bin.png') }}" height="24px" alt="Supprimer mon produit">
                                </a>
                            </td>
                        </tr>
                        {% set total= total +  (produit.produit.proPrixAchat * produit.quantite)%} <!-- A chaque fois pour chaque ligne, on reprend le total et on ajoute le nouveau produit -->
                        {% set ligne= ligne + 1 %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="text-right">
                <b>Nombre de produits :</b> {{ cart|length}} <br> <!-- Pour compter le nombre de contenu dans un tableau - Cette fonction affiche donc le nombre de produits dans mon panier -->
                <b>Total de mon Panier : </b>  {{ (total)|number_format(2)}} € <!-- J'appelle la variable total pour affichier le total de mes produits -->
            </div>
            <div id="button_panier">
                <a type="button" class="btn btn-secondary" href="{{ path('produit_index') }}">RETOUR</a>
                <a href="{{ path('order') }}" class="btn btn-success">VALIDER MON PANIER</a>
                <a href="{{ path('remove_to_cart') }}" class="btn btn-danger">SUPPRIMER MON PANIER</a>
            </div>
        {% else %}
            <p><b>Votre panier est vide</b></p>
            <img id="img_panier" src="{{ asset('img/ICONS/panier_vide.png') }}" alt="Panier vide">
        {% endif %}
    </div>

{% endblock %}