<img src="{{ email.image('@images/logo_village.png') }}" alt="Logo">

<h1>Bienvenue {{ username }} !</h1>

<p>
    Vous avez passé une commande avec l'adresse email suivante : <code>{{ email.to[0].address }}</code>
</p>

<p>
    Nous vous remercions et vous confirmons qu'elle a été enregistrée sous le numéro {{ reference }}
</p>

<p>
    Vous serez livré(e) selon les modalités de votre transporteur à l'adresse suivante :<br>
    {{ adresse }}<br>
    {{ cp }}<br>
    {{ ville }}
</p>

<img style="width: 15%;"  src="{{ email.image('@images/merci.jpg') }}" alt="A bientôt">