{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_widget(form) }}
        <button id="btn_ajouter" class="btn btn-success">{{ button_label|default('Ajouter') }}</button>
        <a type="button" class="btn btn-secondary" id="btn_retour" href="{{ path('produit_index') }}">Retour</a>
{{ form_end(form) }}
