{% extends 'base.html.twig' %}

{% block title %}Payer ma commande{% endblock %}
{% block javascript %}
    <script src="https://js.stripe.com/v3/"></script>
{% endblock %}
{% block body %}
    <div id="recap_commande" class="container">
        <h1 id="titre_order">Récapitulatif de votre commande</h1>
        <p>Vérifiez vos informations avant le paiement</p>
        <hr>
        <div class="row">
            <div class="col-md-6">
                <p><strong>Mon adresse de livraison</strong></p>
                <div id="add_adresse_liv">
                {{ adresseLiv.adrNumRue }}<br>
                {{ adresseLiv.adrCp }}<br>
                {{ adresseLiv.adrVille }} - {{ adresseLiv.adrPays }}
                </div>
                <hr>
                <p><strong>Mon adresse de facturation</strong></p>
                <div id="add_adresse_fact">
                {{ adresseFac.adrNumRue }}<br>
                {{ adresseFac.adrCp }}<br>
                {{ adresseFac.adrVille }} - {{ adresseFac.adrPays }}
                </div>
                <hr>
                <p><strong>Mon transporteur</strong></p>
                <div id="add_adresse_transp">
                {{ livreur.livNom }}<br>
                {{ livreur.livDescription }}<br>
                {{ (livreur.livPrix/100)|number_format(2) }}€
                </div>
            </div>
            <div class="col-md-6">
                <p><strong>Ma commande</strong></p>
                <div class="order-summary">
                    {% set sousTotal= null %}
                    {% for key,produit in cart %}
                        <div class="row {% if key > 0 %}mt-3{% endif %}">
                            <div class="col-3">
                                <img style="width: 100%;" src="{{ asset('img/PRODUITS/')}}{{ produit.produit.proPhoto }}" alt="{{ produit.produit.proLib }}">
                            </div>
                            <div class="col-3">
                                {{ produit.produit.proLib }}
                            </div>
                            <div class="col-2">
                                x {{ produit.quantite }}
                            </div>
                            <div class="col-2">
                                {{ produit.produit.proPrixAchat }}€
                            </div>
                            <div class="col-2">
                                {{ (produit.produit.proPrixAchat * produit.quantite)|number_format(2) }}€
                            </div>
                            {% set sousTotal= sousTotal +  (produit.produit.proPrixAchat * produit.quantite)%}
                        </div>
                    {% endfor %}
                </div>
                <div>
                    <hr>
                    <strong>Sous total :</strong> {{ (sousTotal)|number_format(2) }}€ <br>
                    <strong>Livraison :</strong> {{ (livreur.livPrix/100)|number_format(2) }}€<br>
                    <hr>
                    <strong>Total :</strong> {{ (sousTotal + livreur.livPrix/100)|number_format(2) }}€<br>
                </div>
                <a id="checkout-button" class="btn btn-block btn-success" >Payer | {{ (sousTotal + livreur.livPrix/100)|number_format(2)}}€</a>
            </div>
        </div>
    </div>
    
{% endblock %}
{% block strip %}
    <script type="text/javascript">
        var stripe = Stripe("pk_test_51I8F6OGTYhnXIhU2XSLKCr1Z8taJ1sAs6cG0MMhs6xXlFpVK74G4JTpi8GiAZQ1J4msjS2AScSWRP6mcSWAcsOCA00WRkL1Zzs");
        var checkoutButton = document.getElementById("checkout-button");
        checkoutButton.addEventListener("click", function () {
            fetch("/commande/create-session/{{ reference }}", {
                method: "POST",
            })
                .then(function (response) {
                    return response.json();
                })
                .then(function (session) {
                    if (session.error == 'commande'){
                        window.location.replace('{{ path('order') }}')
                    }else {
                        return stripe.redirectToCheckout({ sessionId: session.id });
                    }
                })
                .then(function (result) {
                    if (result.error) {
                        alert(result.error.message);
                    }
                })
                .catch(function (error) {
                    console.error("Error:", error);
                });
        });
    </script>
{% endblock %}
