{% extends 'base.html.twig' %}
{% block title %}
Mes adresses
{% endblock %}
{% block body %}
<div class="container">
  <h1 id="adresse_client">Mes adresses</h1>
  <a href="{{ path('cart') }}" id="adresse_panier" class="btn btn-outline-primary float-right">MON PANIER</a>
  <a href="{{ path('add_adresse') }}" class="btn btn-outline-primary float-right">AJOUTER UNE ADRESSE</a>
  <img src=" {{ asset('img/BODY/ESPACE CLIENT/adresse.png') }}" id="img_adresse" alt="img adresse" title="img adresse" />
  <hr>
    {% if app.user.cliAdresses|length == 0 %}
    <p id="adresse_vide" class="text-center">Vous n'avez pas encore renseigné d'adresse. Pour en ajouter une, <a href="{{ path('add_adresse') }}">cliquer ici ou sur le bouton "AJOUTER UNE ADRESSE"</a> </p>

    {% else %}
    <div class="row d-flex justify-content-center grid">
        {% for adresse in app.user.cliAdresses %}
        
        <div id="card_panier" class="card text-center mb-2 ml-2 mr-2">
            <div class="card-body">
                <h5 class="card-title">Mon adresse :</h5>
                <p class="card-text">
                {% set formHtml %}
                    {{ adresse }} <br>
                {% endset %}
                {{ adresse|replace({'[br]' : "<br/>"})|raw }}
                </p>
                <div id="liens1">
                <a href="{{ path('edit_adresse', {'id': adresse.id}) }}" class="btn btn-info">MODIFIER</a> |
                </div>
                <div id="liens2">
                <a>{{ include('client/_delete_adresse.html.twig') }}</a>
                </div>
            </div>
        </div>
        
        {% endfor %}

    </div>

    {% endif %}

</div>
{% endblock %}