{% extends 'base.html.twig' %}

{% block title %}Votre profil{% endblock %}

{% block body %}
    <h1 class="text-center mb-5">Votre profil</h1>

    <div class="col-12 mt-4 text-center">
        <img id="img_inscription2" src=" {{ asset('img/BODY/ESPACE CLIENT/register2.jpg') }}" alt="img inscription" title="img inscription" />
    </div>
    
    {{ form_start(form, {'attr' : { 'novalidate': 'novalidate'}}) }}
    
        <div class="col-12">
            <div class="form-group" id="mail2">
                {{ form_label(form.cliEmail, 'Votre e-mail :') }}
            </div>
        </div>

        <div class="col-12">
            <div class="form-group">
                {{ form_widget(form.cliEmail) }}
                {{ form_help(form.cliEmail) }}
            </div>
        </div>

                {{ form_widget(form.cliPassword, {'value': recup, 'type': 'hidden'}) }}
                {{ form_widget(form.cliConfPassword, {'value': recup, 'type': 'hidden'}) }}
    
    <div class="col-12 mt-5 mb-5">
        <h2><i class="fas fa-users" id="identifiants"></i>Vos identifiants</h2>
    </div>

    <div class="col-12">
        <div class="form-group" id="nom2">
            {{ form_label(form.cliNom, 'Votre nom :') }}
        </div>

        <div class="form-group">
            {{ form_widget(form.cliNom) }}
            {{ form_help(form.cliNom) }}
        </div>

        <div class="form-group" id="prenom2">
            {{ form_label(form.cliPrenom, 'Votre prénom :') }}
        </div>

        <div class="form-group">
            {{ form_widget(form.cliPrenom) }}
            {{ form_help(form.cliPrenom) }}
        </div>

        <div class="form-group" id="adresse2">
            {{ form_label(form.cliAdresse, 'Adresse :') }}
        </div>    

        <div class="form-group">
            {{ form_widget(form.cliAdresse) }}
            {{ form_help(form.cliAdresse) }}
        </div>  

        <div class="form-group" id="cp2">
            {{ form_label(form.cliCp, 'Code postal :') }}
        </div> 

        <div class="form-group">
            {{ form_widget(form.cliCp) }}
            {{ form_help(form.cliCp) }}
        </div> 

        <div class="form-group" id="ville2">
            {{ form_label(form.cliVille, 'Ville :') }}
        </div>  

        <div class="form-group">
            {{ form_widget(form.cliVille) }}
            {{ form_help(form.cliVille) }}
        </div> 

        <div id="btn_edit_profil" class="col-12 text-right">
            <input class="btn btn-danger" type="reset" value="ANNULER">
            <a class="btn btn-secondary" href="{{ path('client_show', {'cliId': app.user.cliId}) }}">RETOUR</a>
            <button class="btn btn-success">{{ button_label|default('VALIDER') }}</button>
        </div>
    </div>

    {{ form_end(form) }}

{% endblock %}
