{% extends 'base.html.twig' %}

{% block title %}Client{% endblock %}

{% block body %}

    <div class="col-12 mt-4 text-center">
        <img id="img_profil" src=" {{ asset('img/BODY/ESPACE CLIENT/profil.jpg') }}" alt="img profil">
    </div>

    <h2 id="fiche_client" class="text-center mb-5">{{ client.cliPrenom }} {{ client.cliNom }}</h2>

    <div class="container pb-1">

        <table class="table table-striped col-12">
            <tbody>
            {#<tr>
                <th>CliId</th>
                <td>{{ client.cliId }}</td>
            </tr>#}
            <tr>
                <th>Nom :</th>
                <td style="text-align: left;">{{ client.cliNom }}</td>
            </tr>
            <tr>
                <th>Prénom :</th>
                <td style="text-align: left;">{{ client.cliPrenom }}</td>
            </tr>
            <tr>
                <th>Email :</th>
                <td style="text-align: left;">{{ client.cliEmail }}</td>
            </tr>
            {#<tr>
                <th>CliPassword</th>
                <td>{{ client.cliPassword }}</td>
            </tr>#}
            <tr>
                <th>Adresse :</th>
                <td style="text-align: left;">{{ client.cliAdresse }}</td>
            </tr>
            <tr>
                <th>CP :</th>
                <td style="text-align: left;">{{ client.cliCp }}</td>
            </tr>
            <tr>
                <th>Ville :</th>
                <td style="text-align: left;">{{ client.cliVille }}</td>
            </tr>
            <tr>
                <th>Règlement :</th>
                <td style="text-align: left;">{{ client.cliRegl }}</td>
            </tr>
            <tr>
                <th>Catégorie :</th>
                <td style="text-align: left;">{{ client.cliCateg }}</td>
            </tr>
            <tr>
                <th>Coefficient :</th>
                <td style="text-align: left;">{{ client.cliCoeff }}</td>
            </tr>
            </tbody>
            
        </table>

        <a class="btn btn-secondary" id="btn_retour3" href="{{ path('client_index') }}">RETOUR</a>

        <a class="btn btn-primary" id="btn_modification2" href="{{ path('client_edit', {'cliId': client.cliId}) }}">MODIFICATION</a>

        <div id="btn_suppr" class="container col-lg-2 text-right">
            {{ include('client/_delete_form.html.twig') }}
        </div>

    </div>
{% endblock %}
