{% extends 'base.html.twig' %}

{% block title %}Erreur de paiement{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h2 id="titre_erreur_paiement">Erreur de paiement</h2>
        <div class="col-12 mt-4 text-center">
            <img id="img_erreur_paiement" src="{{ asset('img/ERRORS/erreur_paiement.jpg') }}" class="col-12" alt="Erreur paiement" title="Erreur paiement">
        </div>
        <p>Bonjour <strong>{{ app.user.cliPrenom }} {{ app.user.cliNom }}</strong>,<br>
           Il semblerait que le paiement de votre commande n°: <strong>{{ commande.cmdReference }}</strong> ait échoué.<br>
           Une confimation de l'erreur vient de vous être envoyée par mail à l'adresse : <strong>({{ app.user.cliEmail }})</strong>
           Vous pouvez essayer à nouveau en cliquant sur le bouton ci-dessous.
        </p>
        <hr>
        <a id="btn_erreur_paiement" href="{{ path('order') }}" class="btn btn-success">REESSAYER LE PAIEMENT</a>
    </div>
{% endblock %}